body {
  margin: 0;
  font-family: 'Poppins-Black', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* custom adds */
  height: 100vh;
  background: linear-gradient(to left, #FF0000, #FF6F08);
}

@font-face {
  font-family: Poppins-Black;
  src: url('assets/fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
}

code {
  font-family: 'Poppins-Black', Arial, sans-serif;
}

.MuiTypography-root {
  font-family: 'Poppins-Black', Arial, sans-serif !important;
}
